@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header h1 {
  background: linear-gradient(90deg, #13B0F5 0%, #E70FAA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
  padding: 12px;
}
header nav ul li a {
  text-decoration: none;
  color: #a0a0a0;
}
header nav ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 870px) {
  header h1 {
    padding-left: 35%;
  }
  header nav ul {
    display: flex;
    flex-direction: row-reverse;
  }
  header nav ul li a {
    display: none;
  }
  header nav ul li i {
    position: relative;
    left: 50px;
  }
}
@media screen and (max-width: 534px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header h1 {
    padding: 0;
    padding-left: 10%;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  header nav ul li i {
    position: relative;
    bottom: 60px;
  }
}
#About_me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 450px;
}
#About_me .Desc_About-me h1 .Name {
  background: linear-gradient(90deg, #13B0F5 0%, #E70FAA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#About_me .ProfilPics img {
  width: 300px;
}

@media screen and (max-width: 870px) {
  #About_me {
    display: flex;
    flex-direction: column-reverse;
    height: 850px;
    margin-top: -100px;
  }
  #About_me h1 {
    padding: 0;
    margin-top: -50px;
  }
}
@media screen and (max-width: 500px) {
  #About_me h1 {
    font-size: 24px;
  }
}
#Tech_Stack {
  height: 300px;
  padding-top: 60px;
  margin-bottom: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#Tech_Stack h2 {
  font-size: 30px;
  margin: 0;
}
#Tech_Stack h3 {
  color: #a0a0a0;
  font-size: 20px;
}
#Tech_Stack .logoTech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-top: 30px;
}
#Tech_Stack .logoTech img, #Tech_Stack .logoTech .fa-github {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
}

@media screen and (max-width: 870px) {
  #Tech_Stack {
    margin-top: 80px;
  }
  #Tech_Stack .logoTech {
    width: 60%;
  }
}
@media screen and (max-width: 534px) {
  #Tech_Stack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
  }
  #Tech_Stack .logoTech {
    width: 70%;
  }
}
#Projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 180px;
}
#Projects h2 {
  font-size: 30px;
  margin: 0;
}
#Projects h3 {
  color: #a0a0a0;
  font-size: 20px;
}
#Projects .Project_case {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
}
#Projects .Project_case .Case {
  width: 27.5%;
  height: 500px;
  margin: 1.5%;
  border-radius: 25px;
  box-shadow: #a0a0a0 0px 7px 29px 0px;
  transition: 0.2s;
}
#Projects .Project_case .Case img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}
#Projects .Project_case .Case .CaseDesc {
  padding-left: 5%;
  padding-right: 5%;
}
#Projects .Project_case .Case .CaseDesc h4 {
  font-size: 20px;
  margin: 0;
  height: 50px;
  padding-top: 10px;
}
#Projects .Project_case .Case .CaseDesc h5 {
  padding-top: 7px;
  font-size: 14px;
  color: #a0a0a0;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
#Projects .Project_case .Case .CaseDesc p {
  margin: 0;
  height: 25px;
  font-size: 15px;
}
#Projects .Project_case .Case .CaseDesc p .Language {
  font-size: 12px;
}
#Projects .Project_case .Case .CaseDesc .LinkCaseDesc {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#Projects .Project_case .Case .CaseDesc .LinkCaseDesc a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}
#Projects .Project_case .Case .CaseDesc .LinkCaseDesc a:hover {
  text-decoration: underline;
}
#Projects .Project_case .Case .CaseDesc .LinkCaseDesc .broken {
  text-decoration: line-through;
}
#Projects .Project_case .Case .CaseDesc .LinkCaseDesc .broken:hover {
  text-decoration: line-through;
}
#Projects .Project_case .Case:hover {
  transform: scale(1.02);
  transition: 0.2s;
  box-shadow: 0px 0px 30px 0px black;
}

@media screen and (max-width: 1000px) {
  #Projects {
    padding-top: 50px;
  }
  #Projects .Project_case {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #Projects .Project_case .Case {
    width: 80%;
    margin-top: 50px;
  }
  #Projects .Project_case .Case .CaseDesc h5 {
    height: 130px;
  }
}
@media screen and (max-width: 850) {
  #Projects .Project_case {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #Projects .Project_case .Case {
    width: 80%;
    margin-top: 50px;
  }
}
#Contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 150px;
}
#Contact h2 {
  color: #1E0E62;
  font-size: 42px;
  margin-bottom: 50px;
}
#Contact h3 a {
  font-size: 35px;
  transition: 0.2s;
  text-decoration: none;
  background: linear-gradient(90deg, #13B0F5 0%, #E70FAA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#Contact h3:hover {
  transform: scale(1.18);
  transition: 0.25s;
}

@media screen and (max-width: 534px) {
  #Contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Contact h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
footer {
  background-color: #a0a0a0;
  height: 2px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 70px;
}
footer .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 2.5%;
}
footer .navbar ul {
  display: flex;
}
footer .navbar ul li {
  list-style: none;
  padding: 12px;
}
footer .navbar ul li a {
  text-decoration: none;
}
footer .navbar ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 655px) {
  footer .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
:root {
  --ecriture: #f1f1f1;
  --background: #262626;
  --color-secondary: #666666;
  --color-tiertary: #1E0E62;
}

body {
  transition: 0.3s;
  background: var(--background);
}

#Home nav ul li a {
  transition: 0.3s;
  color: var(--ecriture);
}
#Home nav ul .changeTheme {
  cursor: pointer;
  transition: 0.3s;
  color: var(--ecriture);
}

#About_me .Desc_About-me h1 {
  transition: 0.3s;
  color: var(--ecriture);
}

#Tech_Stack h2 {
  transition: 0.3s;
  color: var(--ecriture);
}
#Tech_Stack .logoTech .fa-github {
  color: var(--ecriture);
}

#Projects h2 {
  transition: 0.3s;
  color: var(--ecriture);
}
#Projects .Project_case .Case {
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px;
}
#Projects .Project_case .Case .CaseDesc h4 {
  transition: 0.3s;
  color: var(--ecriture);
}
#Projects .Project_case .Case .CaseDesc h5 {
  transition: 0.3s;
  color: var(--color-secondary);
}
#Projects .Project_case .Case .CaseDesc p {
  transition: 0.3s;
  color: var(--ecriture);
}
#Projects .Project_case .Case .CaseDesc .LinkCaseDesc a {
  transition: 0.3s;
  color: var(--ecriture);
}

#Contact h2 {
  transition: 0.3s;
  color: var(--ecriture);
}

footer .navbar ul li a {
  transition: 0.3s;
  color: var(--ecriture);
}

/*# sourceMappingURL=style.css.map */
