@mixin Flex_Center_Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin Flex_Flex-end_Center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin Flex_Space-around_Center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin Flex_Column_Center_Center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

