#About_me {
    @include Flex_Space-around_Center;

    .Desc_About-me {
        h1{
            .Name {
                background: linear-gradient(90deg, #13B0F5 0%, #E70FAA 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    .ProfilPics {
        img {
            width: 300px;
        }
    }
}

@media screen and (max-width: 534px) {
    #About_me {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 150px;
        h1 {
            padding: 10%;
        }
    }
}