#About_me {
    @include Flex_Space-around_Center;
    margin: 180px;
    .Desc_About-me {
        h1{
            color: $color-primary;
            .Name {
                background: linear-gradient(90deg, #13B0F5 0%, #E70FAA 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    .ProfilPics {
        @include Flex_Center_Center;
        img {
            width: 280px;
        }
    }
}