#Contact {
    @include Flex_Column_Center_Center;
    margin-top: 180px;
    margin-bottom: 150px;
    h2 {
        color: $color-tiertary;
        font-size: 42px;
        margin-bottom: 50px;
    }
    h3 {
        transition: 0.25s;
        a {
            font-size: 35px;
            transition: 0.2s;
            text-decoration: none;
            background: linear-gradient(90deg, #13b0f5 0%, #e70faa 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    h3:hover {
        transform: scale(1.18);
        transition: 0.25s;
    }
}

@media screen and (max-width: 534px) {
    #Contact {
        @include Flex_Center_Center;
        h2 {
        }
        h3 {
            @include Flex_Wrap_Center_Center;
            a {
            }
        }
    }
}
