#Contact {
    @include Flex_Column_Center_Center;
    margin-top: 180px;
    margin-bottom: 150px;
    h2 {
        color: $color-tiertary;
        font-size: 42px;
    }
    h3 {
        a {
            font-size: 35px;
            transition: 0.2s;
            text-decoration: none;
            background: linear-gradient(90deg, #13B0F5 0%, #E70FAA 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    h3:hover{
        transform: scale(1.18);
        transition: 0.25s;
    }
}

@media screen and (max-width:534px) {
    #Contact {
        display: flex;
        h2 {
            padding-left: 15%;
            margin-bottom: 50px;
        }
        h3 {
            @include Flex_Wrap_Center_Center;
            a {
                font-size: 30px;
            }
        }
    }
}