header {
    @include Flex_Space-around_Center;
    h1{
        background: linear-gradient(90deg, #13B0F5 0%, #E70FAA 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    }
    nav {
        ul {
            display: flex;
            li {
                list-style: none;
                padding: 12px;
                a {
                    text-decoration: none;
                    color: $color-secondary;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width:870px) {
    header {
        h1 {
            padding-left: 35%;
        }
        nav {
            ul {
                display: flex;
                flex-direction: row-reverse;
                li {
                    a {
                        display: none;
                    }
                    i {
                        position: relative;
                        left: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:534px) {
    header {
        @include Flex_Center_Center;
        h1 {
            padding: 0;
            padding-left: 10%;
        }
        nav {
            ul {
                @include Flex_Column_Center_Center;
                li {
                    i {
                        position: relative;
                        bottom: 60px;
                    }
                }
            }
        }
    }
    
}