header {
    @include Flex_Space-around_Center;
    h1{
        background: linear-gradient(90deg, #13B0F5 0%, #E70FAA 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    }
    nav {
        ul {
            display: flex;
            li {
                list-style: none;
                padding: 12px;
                a {
                    text-decoration: none;
                    color: $color-secondary;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width:534px) {
    header {
        @include Flex_Column_Center_Center;
        nav {
            ul {
                @include Flex_Column_Center_Center
            }
        }
    }
    
}