#Projects {
    @include Flex_Column_Center_Center;
    margin-bottom: 180px;
    h2 {
        font-size: 30px;
        margin: 0;
    }
    h3 {
        color: $color-secondary;
        font-size: 20px;
    }
    .Project_case {
        @include Flex_Center_Center;
        width: 90%;
        flex-wrap: wrap;
        .Case {
            width: 27.5%;
            height: 500px;
            margin: 1.5%;
            border-radius: 25px;
            box-shadow: $color-secondary 0px 7px 29px 0px;
            transition: 0.2s;
            img {
                width: 100%;
                height: 260px;
                object-fit: cover;
                border-radius: 25px 25px 0px 0px;
            }
            .CaseDesc {
                padding-left: 5%;
                padding-right: 5%;
                h4 {
                    font-size: 20px;
                    margin: 0;
                    height: 50px;
                    padding-top: 10px;
                }
                h5 {
                    padding-top: 7px;
                    font-size: 14px;
                    color: $color-secondary;
                    height: 125px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0;
                }
                p {
                    margin: 0;
                    height: 25px;
                    font-size: 15px;
                    .Language {
                        font-size: 12px;
                    }
                }
                .LinkCaseDesc {
                    @include Flex_Space-around_Center;
                    a {
                        font-size: 16px;
                        text-decoration: none;
                        color: black;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                    .broken {
                        text-decoration: line-through;
                    }
                    .broken:hover {
                        text-decoration: line-through;
                    }
                }
            }
        }
        .Case:hover {
            transform: scale(1.02);
            transition: 0.2s;
            box-shadow: 0px 0px 30px 0px black;
        }
    }
}

@media screen and (max-width: 1000px) {
    #Projects {
        padding-top: 50px;
        .Project_case {
            @include Flex_Column_Center_Center;
            .Case {
                width: 80%;
                margin-top: 50px;
                .CaseDesc {
                    h5 {
                        height: 130px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850) {
    #Projects {
        .Project_case {
            @include Flex_Column_Center_Center;
            .Case {
                width: 80%;
                margin-top: 50px;
            }
        }
    }
}
