#Projects {
    @include Flex_Column_Center_Center;
    margin-bottom: 180px;
    h2 {
        color: $color-primary;
        font-size: 30px;
        margin: 0;
    }
    h3 {
        color: $color-secondary;
        font-size: 20px;
    }
    .Project_case {
        @include Flex_Center_Center;
        width: 80%;
        .Case {
            width: 25%;
            height: 450px;
            margin: 1.5%;
            border-radius: 25px;
            box-shadow: 0px 0px 30px 0px gray;
            transition: 0.2s;
            img {
                width: 100%;
                height: 260px;
                object-fit: cover;
                border-radius: 25px 25px 0px 0px ;
            }
            .CaseDesc {
                padding-left: 5%;
                padding-right: 5%;
                h4{
                    font-size: 20px;
                    margin: 0;
                    height: 30px;
                    padding-top: 10px;
                }
                h5{
                    font-size: 14px;
                    color: $color-secondary;
                    height: 75px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0;
                    height: 100px;
                }
                p {
                    margin: 0;
                    height: 25px;
                    font-size: 15px;
                    .Language{
                        font-size: 12px;
                    }
                }
                .LinkCaseDesc {
                    @include Flex_Space-around_Center;
                    a {
                        
                        font-size: 13px;
                        text-decoration: none;
                        color: black;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .Case:hover {
            transform: scale(1.02);
            transition: 0.2s;
            box-shadow: 0px 0px 30px 0px black;
        }
    }
}