#Tech_Stack {
    height: 300px;
    padding-top: 60px;
    margin-bottom: 180px;
    @include Flex_Column_Center_Center;
    h2 {
        font-size: 30px;
        margin: 0;
    }
    h3{
        color: $color-secondary;
        font-size: 20px;
    }
    .logoTech {
        @include Flex_Wrap_Center_Center;
        width: 80%;
        padding-top: 30px; 
        img, .fa-github {
            padding-right: 15px;
            padding-left: 15px;
            padding-bottom: 20px;
        }
    }
}

@media screen and (max-width: 870px) {
    #Tech_Stack {
        margin-top: 80px;
        .logoTech {
            width: 60%;
        }
    }
}

@media screen and (max-width: 534px) {
    #Tech_Stack {
        @include Flex_Center_Center;
        margin-bottom: 250px;
        .logoTech {
            width: 70%;
        }
    }
}
