:root {
    --ecriture: #f1f1f1;
    --background: #262626;
    --color-secondary: #666666;
    --color-tiertary: #1E0E62;

}

body {
    transition: 0.3s;
    background: var(--background);
}


#Home {
    nav {
        ul {
            li {
                a {
                    transition: 0.3s;
                    color: var(--ecriture);
                }
            }
            .changeTheme {
                cursor: pointer;
                transition: 0.3s;
                color: var(--ecriture);
            }
        }
    }
}

#About_me {
    .Desc_About-me{
        h1{
            transition: 0.3s;
            color: var(--ecriture);
        }
    }
}

#Tech_Stack {
    h2 {
        transition: 0.3s;
        color: var(--ecriture);
    }
    .logoTech {
        .fa-github {
            color: var(--ecriture);
            
        }
    }
}

#Projects {
    h2 {
        transition: 0.3s;
        color: var(--ecriture);
    }
    .Project_case {
        .Case {
            transition: 0.3s;
            box-shadow: 0px 0px 10px 0px ;
            .CaseDesc {
                h4 {
                    transition: 0.3s;
                    color: var(--ecriture);
                }
                h5 {
                    transition: 0.3s;
                    color: var(--color-secondary);
                }
                p {
                    transition: 0.3s;
                    color: var(--ecriture);
                }
                .LinkCaseDesc {
                    a {
                        transition: 0.3s;
                        color: var(--ecriture);
                    }
                }
            }
        }
    }
}

#Contact {
    h2 {
        transition: 0.3s;
        color: var(--ecriture);
    }
}

footer {
    .navbar {
        ul {
            li {
                a {
                    transition: 0.3s;
                    color: var(--ecriture);
                }
            }
        }
    }
}